<div style="text-align:center">
  <h1>
    {{ 'WELCOME' | translate }}
  </h1>
</div>

<div class="radio-btn-container">
  <md-radio-group class="radio-group">
    <md-radio-button
      *ngFor="let index = index; let language of languages"
      [value]="language" (change)="changeLanguage(language)" [checked]="index==0">
      {{language}}
    </md-radio-button>
  </md-radio-group>
</div>


<md-input-container class="input-full-width">
  <input mdInput placeholder="{{ 'SEARCH_BY_NAME' | translate }}" #searchBox (keyup)="searchItem(searchBox.value)">
</md-input-container>

<button md-raised-button (click)="toggleForm()">{{buttonName}} {{ 'FORM_LOADER' | translate }}</button>

<div class="main-container">
  <items-placeholder class="items-placeholder"
	  (openFormLoader)="closeForm($event)">
  </items-placeholder>
  <form-loader *ngIf="formVisible"
  	(closeFormLoader)="closeForm($event)">
  </form-loader>
</div>



